* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100vh;
    background-image: url('../../pxfuel.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.warning {
    display: none;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.warning.active {
    display: block;
    background-color: #00000033;
    backdrop-filter: blur(4px);
    border-radius: 5px;
    color: #f7573b;
    padding: 10px 0;
}

.warning.message {
    display: block;
    background-color: #00000033;
    backdrop-filter: blur(4px);
    border-radius: 5px;
    color: #8adaff;
    padding: 10px 0;
}

.logged {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background-color: #00000033;
    border-radius: 5px;
    backdrop-filter: blur(4px);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 30px;
}

a {
    display: block;
    padding: 7px 15px;
    background-color: blueviolet;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color .3s ease;
}

a:hover {
    background-color: #9d42f3;
}

.form {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    width: 355px;
    padding: 20px;
    background-color: #00000033;
    border-radius: 5px;
    backdrop-filter: blur(4px);
}

.__figure {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.__figure + p {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.url {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
}

#url-link {
    width: 100%;
    padding: 5px 7px;
    font-size: 12px;
    border-radius: 5px;
}

#url-link + div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
}

.btn-copy {
    padding: 10px;
    background-color: #0059ff;
    color: #fff;
    border: none;
    width: 40px;
    height: 25px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
}

.btn-copy:hover {
    background-color: #0077ff;
    cursor: pointer;
}

input[type="submit"] {
    background-color: blueviolet;
    color: #fff;
    font-size: 16px;
    text-align: center;
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #9d42f3;
    cursor: pointer;
}

@media screen and (max-width: 430px) {
    .logged {
        width: 80%;
        flex-direction: column;
    }

    .logged h1 {
        width: 100%;
    }

    .form {
        width: 80%;
    }

    .warning {
        width: 80%;
    }
}